---
layout: default
---
{% assign filtered_posts_author = site.posts | where: 'author', page.short_name %}

<div class="page-header theme-bg-dark py-5 text-center position-relative">
    <div class="theme-bg-shapes-right"></div>
    <div class="theme-bg-shapes-left"></div>
    <div class="container">
        <h1 class="page-heading single-col-max mx-auto">{{ page.name }}</h1>
        {% if page.position %}<div class="page-intro single-col-max mx-auto">{{ page.position }}</div>{% endif %}
    </div>
</div>

<div class="page-content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-4 py-3">
                {{ content }}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-lg-4 py-3">
                <h2>Lessons</h2>
                <ul>                  
                  {% assign filtered_lessons = filtered_posts_author | where: 'categories', 'lesson' %}
                  {% assign sorted_posts = filtered_lessons | sort: 'title' %}
                  {% for post in sorted_posts %}
                      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                  {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-lg-4 py-3">
                <h2>Tips</h2>
                <ul>
                  {% assign filtered_posts = filtered_posts_author | where: 'categories', 'tips' %}
                  {% assign sorted_posts = filtered_posts | sort: 'title' %}
                  {% for post in sorted_posts %}
                      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                  {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>