<!DOCTYPE html>
<html lang="en"> 
    <head>
        <title>{{ page.title }}{% if page.url != '/' %} - Learning English{% endif %}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Learning English for Portuguese speakers.">
        <meta name="author" content="Learning Engish">
        <link rel="icon" href="/assets/images/favicon.png" />
    </head>
    <body>
        {{ content }}
    </body>
</html> 
